@import "root.css";
@import "placeholder.css";

.home {
    background-color: var(--main-bg-color);
}

.home-top-row {
    background-color: var(--main-bg-color-contrast);
}

.home-top-left-col {
    min-height: 60px;
}

.home-top-center-col {
    min-height: 60px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.home-search {
    margin-top: 15px;
}

.home-top-right-col {
    min-height: 60px;
}

.home-notifications {
  color: var(--white);
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 15px;
}

.home-notifications:hover {
    color: var(--white-contrast);
    cursor: pointer;
}

.home-logout {
  color: var(--light-visibility);
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 15px;
}

.home-logout:hover {
  color: var(--white-contrast);
  cursor: pointer;
}

.home-counter {
    background: var(--suggestion);
    color: var(--insist);
    font-weight: bold;
    border-radius: 50%;
    border: none;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 15px;
}

.home-counter:hover {
    background: var(--suggestion);
    color: var(--insist);
}

.home-main {
    margin-top: 1%;
    padding: 1%;
}

.home-main-content {
    border-top: none;
    border-bottom: none;
}

.home-component {
    min-height: 600px;
    overflow-y: auto;
}

.home-right-sidebar {
    text-align: center;
    border: dashed medium var(--light-visibility);
    color: var(--medium-visibility);
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-weight: bold;
}

.home-notifications-modal {
    color: var(--white-contrast);
    font-family: var(--hard-font);
    background-color: none;
}

.home-messages-modal {
    color: var(--white-contrast);
    font-family: var(--hard-font);
    background-color: none;
}

.home-new-messages:hover {
    text-decoration: underline !important;
    text-decoration-line: underline !important;
    color: var(--thing-2);
    cursor: pointer
}

.oobe-modal .modal-content
{
    min-height: 600px;
}

.home-oobe-modal .modal-body
{
    background-color: var(--near-white);
}

.home-oobe-modal .modal-header {
    color: var(--near-white-contrast);
    letter-spacing: .5vw;
    font-weight: bold;
    font-family: var(--soft-font);
    margin: 0 auto;
}

.home-content {
    margin-bottom: 100px;
}

.home-content-sub-title {
    color: var(--white-contrast);
    letter-spacing: 1vw;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: bold;
}

.home-content-button {
    background-color: var(--suggestion);
    width: 100%;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .4vw;
    font-weight: bold;
    font-size: 1em;
    height: 100%;
    font-family: var(--soft-font);
}

.home-content-event-card, .home-content-listing-card {
    margin-bottom: 2%;
    font-family: var(--soft-font);
    color: var(--white-contrast);
}

.home-content-listing-header {
    background-color: var(--thing-1);
    font-family: var(--hard-font);
    text-transform: uppercase;
    letter-spacing: .4vw;
    font-weight: bold;
    color: var(--thing-2);
}

.home-content-event-header {
    background-color: var(--thing-2);
    font-family: var(--hard-font);
    text-transform: uppercase;
    letter-spacing: .4vw;
    font-weight: bold;
    color: var(--thing-1);
}

.home-content-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}