@import "root.css";
@import "placeholder.css";

html {
    height: 100%;
    background: var(--main-bg-color);
}

.login {
    margin-top: 10%;
    color: var(--white-contrast);
    font-family: var(--hard-font);
    background-color: var(--main-bg-color);
}

.login .login-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1vw;
    color: var(--suggestion);
    font-weight: bold;
}

.login-register {
    color: var(--thing-2);
    text-transform: uppercase;
    letter-spacing: .4vw;
    font-weight: bold;
    width: 50%;
    font-size: 1em;
    height: 100%;
}

.login-register:hover {
    color: var(--suggestion);
    text-decoration: none;
}

.login-password-forgot {
    float: right;
    color: var(--thing-1);
    text-transform: uppercase;
    letter-spacing: .4vw;
    font-weight: bold;
    width: 50%;
    font-size: 1em;
    height: 100%;
}

.login-password-forgot:hover {
    color: var(--suggestion);
    text-decoration: none;
}

.login-button {
    background-color: var(--suggestion);
    font-weight: bold;
    width: 100%;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .4vw;
    font-weight: bold;
    font-size: 1em;
    height: 100%;
    font-family: var(--soft-font);
}

.login-button:hover {
    color: var(--white-contrast);
    text-decoration: none;
}

.login-not-authorized {
    color: var(--warning);
    text-transform: uppercase;
    letter-spacing: .2vw;
    text-align: center;
    padding-bottom: 1%;
    font-family: var(--soft-font);
}