@import "root.css";
@import "placeholder.css";

.register {
    margin-top: 10%;
    color: var(--white-contrast);
    font-family: var(--hard-font);
    background-color: var(--near-white);
}

.register .register-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1vw;
    color: var(--suggestion);
    font-weight: bold;
    margin-bottom: 3%;
}

.register .register-sub-title {
    color: var(--thing-1);
    text-transform: uppercase;
    letter-spacing: .2vw;
    text-align: center;
    padding-bottom: 1%;
    font-family: var(--soft-font);
}

.register-email-display {
    color: var(--white-contrast);
}

.register-check {
    color: var(--gray);
}

.register-submit {
    text-align: right;
}

.register-tos h3 {
    text-align: center;
    margin-bottom: 2%;
}

.register-join-button, .register-resend-button, .register-confirm-button, .register-reset-button {
    color: var(--white-contrast);
    letter-spacing: .4vw;
    font-weight: bold;
    background-color: var(--faint-contrast);
    text-transform: uppercase;
    font-family: var(--soft-font);
    margin-left: 1%;
    margin-right: 1%;
}

.register-join-button:hover, .register-resend-button:hover, .register-confirm-button:hover, .register-reset-button:hover {
    color: var(--insist);
    text-decoration: none;
}

.register-email-confirmation {
    text-align: center;
}

.register-switch {
    text-align: right;
}

.register-switch-title {
    font-size: 1vw;
    text-transform: uppercase;
    padding-top: 1%;
    text-align: left;
}

.register-blurb {
    color: var(--suggestion);
    text-align: center;
    font-size: 1.5vw;
}

.register-directional-buttons {
    text-align: center;
}

.register-information {
    background-color: var(--white-contrast);
    padding: 1%;
    width: 1vw;
    height: 1vw;
    color: var(--white);
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border: solid thin var(--white-contrast);
    margin-top: -10%;
    margin-left: 5%;
    cursor: pointer;
}

.register-left-button, .register-right-button {
    color: var(--thing-2);
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
}

.register-tos .modal-header {
    border: none;
}

.register-confirmed {
    color: var(--warning);
    text-transform: uppercase;
    letter-spacing: .2vw;
    text-align: center;
    padding-bottom: 1%;
    font-family: var(--soft-font);
}

.register-not-authorized {
    color: var(--warning);
    text-transform: uppercase;
    letter-spacing: .2vw;
    text-align: center;
    padding-bottom: 1%;
    font-family: var(--soft-font);
}
