@import "root.css";
@import "placeholder.css";

.reset {
    margin-top: 10%;
    color: var(--white-contrast);
    font-family: var(--hard-font);
    background-color: var(--main-bg-color);
}

.reset .reset-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1vw;
    color: var(--suggestion);
    font-weight: bold;
}

.reset-sub-title {
    color: var(--caution);
    text-transform: uppercase;
    letter-spacing: .2vw;
    text-align: center;
    padding-bottom: 1%;
    font-family: var(--soft-font);
}

.reset-action-notice {
    color: var(--thing-2);
    text-transform: uppercase;
    letter-spacing: .2vw;
    text-align: center;
    padding-bottom: 1%;
    font-family: var(--soft-font);
}

.reset-action-notice-red {
    color: var(--warning);
    text-transform: uppercase;
    letter-spacing: .2vw;
    text-align: center;
    padding-bottom: 1%;
    font-family: var(--soft-font);
}

.reset-update {
    float: right;
    color:var(--white-contrast);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1%;
    font-family: var(--soft-font);
    margin-top: 1%;
}