@import "../placeholder.css";
@import "../root.css";

.header
{
    color: var(--suggestion);
}

.resultsFor
{
    color: var(--near-white-contrast);
}


.react-grid-Row--even .react-grid-Cell 
{ 
    background-color: var(--near-white-contrast);
}

.react-grid-Row--even:hover .react-grid-Cell
{
    background-color: var(--near-white-contrast);
}

.styleOn .react-grid-Row:hover .react-grid-Cell
{
    text-decoration: underline !important;
    text-decoration-line: underline !important;
    color: var(--thing-2);
    cursor: pointer;
}

.react-grid-HeaderRow
{
    color: var(--suggestion);
}

.react-grid-Cell__value *
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-inline{
    width: 100%
}

.search-pageTitle
{
    color: var(--white-contrast);
    letter-spacing: 1vw;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: bold;
}
