@import "../placeholder.css";

.inbox
{
 background-color: grey;
}

.conversation
{
    transition: all .1s ease-in-out;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.conversation:hover, .open-conversation:hover
{
    transform: scale(1.05);
}

.open-conversation
{
    transition: all .1s ease-in-out;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.conversations
{
    float: left;
    background-color: white;
    margin: 10px;
    width: 25%;
    height: 600px;
    border-radius: 10px;
    overflow: scroll;
}

.chat-box
{
    float: right;
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 65%;
    border-radius: 10px;
    height: 600px;
    overflow: scroll;
}

.my-message
{
    float: right;
    padding: 10px;
    margin: 5px;
    margin-left: 300px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: lightgrey;
}

.other-message
{
    float: left;
    padding: 10px;
    margin: 5px;
    margin-right: 300px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: lightblue;
}

.text-box
{
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    float: right;
}

.textField
{
    width: 300px;
}