@import "../root.css";
@import "../placeholder.css";

.profile
{
    margin-top: 1%;
}

.profile-label
{
    color: var(--white-contrast);
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-weight: bold;
    font-size: 1.5vw;
}

.profile-upload
{
    color: var(--faint-contrast);
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-weight: bold;
    font-size: 1.5vw;
    background-color: var(--white-contrast);
    border: none;
}

.profile-upload:hover
{
    background-color: var(--suggestion);
}

.editField
{
    color: var(--white-contrast);
    cursor: pointer;
    text-align: left;
    cursor: pointer;
}

.saveChanges
{
    color: var(--white-contrast);
    cursor: pointer;
    text-align: left;
    cursor: pointer;
    margin-right: 5%
}

.undoEdit
{
    color: var(--white-contrast);
    cursor: pointer;
    text-align: left;
    cursor: pointer;
}

.editField:hover
{
    color: var(--suggestion);
}

.saveChanges:hover
{
    color: var(--suggestion);
}

.undoEdit:hover
{
    color: var(--suggestion);
}

.profile-right-container
{
    background-color: var(--faint-contrast);
    border-radius: 5px;
    border: solid thin var(--far-white-contrast);
}

.nav.profile-nav a.nav-link
{
    color: var(--suggestion);
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-weight: bold;
}

.nav.profile-nav a.nav-link:hover
{
    color: var(--thing-2);
}

.profile-content
{
    padding-top: 3%;
}

.profile-user-img-placeholder
{
    margin-top: 8%;
}

.profile-attribute-header
{
    color: var(--thing-2);
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-weight: bold;
}

.profile-attribute-display-name
{
    color: var(--white-contrast);
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-weight: bold;
    font-style: italic;
}

.profile-attribute-content
{
    color: var(--thing-2);
    text-indent: 5%;
    font-weight: normal;
    text-transform: capitalize;
}

.profile-message-me-button {
    color: var(--suggestion);
  }
  
.profile-message-me-button:hover {
    color: var(--far-white-contrast);
    cursor: pointer;
}

.indent
{
    text-indent: 15%;
}

.profile-picture-thumbsize {
    max-width: 100px;
    height: auto;
    margin-bottom: 5%;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.30);
}

.profile-move-edit-icon-up {
    margin-top: -2%;
}

.profile-sub-title {
    color: var(--white-contrast);
    letter-spacing: 1vw;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-my-listings-table, .profile-my-events-table {
    width: 100%;
}

.profile-my-listings-table-header, .profile-my-events-table-header {
    font-size: 1.5vw;
    text-transform: capitalize;
    color: var(--white-contrast);
    letter-spacing: .2vw;
    font-weight: normal;
    text-align: left;
}

.profile-my-listings-table tr td, .profile-my-events-table tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-my-listings, .profile-my-events {
    color: var(--white-contrast);
    font-size: 1vw;
}

.profile-my-listings:hover, .profile-my-events:hover {
    color: var(--thing-2);
    cursor: pointer;
}

.profile-fa-icon {
    color: var(--white-contrast);
    margin-right: 2%;
}

.profile-fa-icon:hover {
    color: var(--thing-2);
    cursor: pointer;
}

.profile-modal-header {
    width: 100%;
    text-align: center;
}

.profile-modal-title {
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 2vw;
    color: var(--suggestion);
    font-weight: bold;
    display: block;
    margin-bottom: 1%;
}

.profile-modal-sub-title {
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: .5vw;
    color: var(--thing-1);
    text-align: center;
    width: 100%;
    font-family: var(--soft-font);
}

.profile-modal-footer {
    width: 100%;
    text-align: center;
    border-top: thin solid var(--horizontal-rule);
    padding: 2%;
}

.profile-modal-footer-content-left {
    width: 50%;
    display: inline-block;
    text-align: left;
}

.profile-modal-footer-content-right {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.profile-modal-footer-content-center{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: var(--soft-font);
    color: var(--insist);
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: .5vw;
}

.profile-listing-content {
    color: var(--thing-2);
    font-size: 1.5vw;
}
