@import "../root.css";

.listings-listings {

}

.listings-categoryCol {
    max-height: 600px;
    background-color: var(--faint-contrast);
    overflow-y: scroll;
}

.listings-listingCol {
    height: 600px;
    overflow-y: scroll;
}

.listings-createButton {
    padding-bottom: 5%;
    cursor: pointer;
}

.listings-bookmarkButton {
    cursor: pointer;
}


.listings-editButton {
    cursor: pointer;
}

.listings-deleteButton {
    cursor: pointer;
}

.listings-notComplete
{
    color: var(--warning);
    text-transform: uppercase;
    letter-spacing: .2vw;
    text-align: center;
    padding-bottom: 1%;
    font-family: 'Varela Round', sans-serif;
}

.listings-myListingCheckbox {
    
}


.listings-theListing:hover {
    text-decoration: underline;
    color: var(--rainbow-blue);
}


.listings-ID {
    width: 7%;
}

.listings-Title {
    width: 40%;
}

.listings-edit {
    width: 20%;
}

.listings-listingview-directUserProfile {
    cursor: pointer;
}

.listings-listingview-directUserProfile:hover {
    text-decoration: underline;
    color: var(--rainbow-blue);
}


.listings-parentTag {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.listings-childTag {
    cursor: pointer;
}

/* class from the library,
    just to hide the default searchbox */
.react-infinity-menu-default-search-input {
    display: none;
    visibility: hidden;
}

.listings-infinity-menu-node-container {
    width: 100%;
	height: 40px;
	padding-left: 10px;
    padding-top: 20px;
}

/* .listings-infinity-menu-node-container label {
    display: inline-block;
} */

.listings-infinity-menu-node-container:hover {
	/* background-color: rgb(73, 73, 73); */
}

.listings-viewModalContent-description {
    word-wrap: break-word
}

.listings-viewModalContent-description h6 {
    text-decoration: underline;
}

.listings-span {
    width: 10px
}