@import "../root.css";

.space {
  min-height: 48px;
}

.sidebarProfileImg {
  text-align: center;
}

.userImage {
  margin-bottom: 10%;
  max-width: 200px;
  height: auto;
}

.greeting {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-family: var(--hard-font);
  letter-spacing: .5vw;
  font-size: 3vw;
  background-color: var(--suggestion);
}

.hi {
  text-transform: lowercase;
  font-weight: bold;
  color: var(--white);
}

.icon {
  color: var(--white);
  background-color: var(--suggestion);
  border-radius: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 3%;
  min-width: 4vw;
  min-height: 4vw
}

.sidebarMenuItem {
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--hard-font);
  letter-spacing: .1vw;
  cursor: pointer;
}

.sidebarMenuItem:hover
{
  color: var(--insist);
  font-weight: bold;
  background-color: var(--far-white-contrast);
  width: 100%;
}

.sidebarMenuItem:focus {
  outline: 0;
}

.sidebarProfileImg:focus {
  outline: 0;
}

.space:focus {
  outline: 0;
}

@media only screen and (max-width: 600px) {
  
  .sidebarMenuItemTitle {
    display: none;
    visibility: hidden;
  }

  .icon
  {
    min-width: 20vw;
    min-height: 20vw;
    padding: 8%;
  }

  .bm-menu {
    text-align: center;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 15px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--white-contrast);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--thing-2);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--white);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--black);
  /*padding: 2.5em 1.5em 0;*/
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--white-contrast);
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--near-white-contrast);
  /*padding: 0.8em;*/
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}